/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

.global--body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.global--header {
  color: #fff !important;
  background-color: #4d636f;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
}

/* Set a style for all buttons */
.global--button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.global--button:hover {
  opacity: 0.8;
}