/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif
}

.container {
  display: grid;
}

.global__header {
  color: #fff !important;
  background-color: #4d636f;
}

/* Set a style for all buttons */
.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
