@import "./../../../../styles/variables";

.container {
  display: grid;
  grid-template-columns: $default-gap 1fr auto $default-gap;
  grid-template-rows: auto 0px;
  align-items: center;
  border-bottom: 1px solid;

  &__content {
    grid-column: 2;
    grid-row: 1;
  }

  >.user-info__photo {
    grid-column: 3;
    grid-row: 1;
    font-size: $default-gap*4;
  }

  >.user-info__details {
    z-index: 2;
    grid-row: 2;
    grid-column: 1 / -1;
    padding: $default-gap;
    border: solid 1px;
    background-color: azure;
    justify-self: end;
    align-self: start;
    display: grid;
  }
}
