.container {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  .link {
    cursor: pointer;
    &:hover {
      border-bottom: 1px dashed;
    }
    &:focus {
      outline: none;
    }
  }

  .active {
    border-bottom: 1px solid red;
  }
}
