@import "./../../../styles/variables";

.lds-ripple div {
  border: 2px solid $base-color;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
