<div class="container">
  <div class="login-form">
    <form id="loginForm" [formGroup]="loginFrom" (ngSubmit)="login()">
      <label>
        Username:
        <input type="text" formControlName="username" autocomplete="username" />
      </label>
      <label>
        Password:
        <input type="password" formControlName="currentPassword" autocomplete="current-password" />
      </label>

    </form>
    <div>
      <button type="submit" form="loginForm" [disabled]="!loginFrom.valid">Sign in</button>
      <button (click)="register()" [disabled]="!loginFrom.valid">Register</button>
    </div>
  </div>
</div>