<div class="container">
  <div class="login-form">
    <form id="loginForm" [formGroup]="loginFrom" (ngSubmit)="login()">
      <label for="username">
        Username:
      </label>
      <input
        type="text"
        formControlName="username"
        id="username"
        autocomplete="username"
      />
      <label for="password">
        Password:
      </label>
      <input
        type="password"
        id="password"
        formControlName="currentPassword"
        autocomplete="current-password"
      />
    </form>
    <div>
      <button type="submit" form="loginForm" [disabled]="!loginFrom.valid">
        Sign in
      </button>
      <button (click)="register()" [disabled]="!loginFrom.valid">
        Register
      </button>
    </div>
  </div>
</div>
