@import '../../../../../styles/variables';

.container {
  border: 1px solid $border-color;
  border-radius: $default-gap/2;
  overflow: hidden;
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr max-content max-content 1fr;
  grid-template-areas:
    'image image image image'
    'recipe-label tag tag tag'
    'recipe-name recipe-name recipe-name recipe-name'
    'description description description description'
    'reviews reviews personal-rank personal-rank';
  .image {
    grid-area: image;
    background-color: brown;
  }
  .recipe-label {
    grid-area: recipe-label;
    background-color: red;
  }
  .tag {
    grid-area: tag;
    background-color: blue;
  }
  .recipe-name {
    grid-area: recipe-name;
    background-color: violet;
  }
  .description {
    grid-area: description;
    background-color: green($color: #000000);
  }
  .reviews {
    grid-area: reviews;
    background-color: yellow;
  }
  .personal-rank {
    grid-area: personal-rank;
    background-color: gray;
  }

  &:hover {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
}
