<div [formGroup]="recipeForm">
  ingredients
  <button (click)="addIngredient()" *ngIf="recipeForm.enabled">Add ingredient</button>
  <div class="content" formArrayName="ingredients">
    <div>Name</div>
    <div>mg</div>
    <div>ml</div>
    <div>image</div>
    <ng-container [formGroupName]="i" *ngFor="let ingredient of recipeForm.controls.ingredients; let i = index">
      <mat-form-field>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="mg" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="ml" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="pieces" />
      </mat-form-field>
    </ng-container>
  </div>
</div>
