.container {
  grid-template-columns: 10px 1fr 70px 10px;
  grid-template-rows: auto 0px;
  align-items: center;
}

.application-name {
  grid-column: 2;
}

.user-info {
  grid-column: 3;
}

.user-info__photo {
  font-size: 40px;
}

.user-info__details {
  grid-row: 2;
  grid-column: 1 / -1;
  padding: 10px;
  background: blue;
  width: fit-content();
  justify-self: flex-end;
  align-self: flex-start;
}