<form class="example-container" [formGroup]="editModeFormGroup">
  <mat-slide-toggle formControlName="enabled" (click)="toggleEditMode()">Edit mode!</mat-slide-toggle>
</form>
<form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
  <div class="container">
    <mat-form-field class="name">
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>
    <div class="image">
      <img *ngIf="recipeForm.value.image" [src]="recipeForm.value.image" />
      <app-image-cropper [form]="recipeForm"></app-image-cropper>
    </div>
    <div class="short-info">
      <mat-form-field>
        maxNumberOfPeople:
        <input matInput type="number" formControlName="minNumberOfPeople" />
      </mat-form-field>
      <mat-form-field>
        timeToCook:
        <input matInput type="number" formControlName="timeToCook" />
      </mat-form-field>
    </div>

    <app-recipe-ingredients class="ingredients" [recipeForm]="recipeForm" [recipeIngredient]="recipeIngredient">
    </app-recipe-ingredients>
    <app-recipe-steps class="recipe" [recipeForm]="recipeForm" [recipeStep]="recipeStep"></app-recipe-steps>
    <app-recipe-tags class="tag" [recipeForm]="recipeForm" [recipeTag]="recipeTag"></app-recipe-tags>

    <div class="reviews"></div>
    <button class="save" type="submit" [disabled]="!recipeForm.valid">Save</button>
  </div>
</form>

<div>
  {{ recipe | json }}
</div>
<div>
  {{ recipeForm.value | json }}
</div>
{{ editModeFormGroup.value | json }}
