@import '../../../../styles/variables';

.container {
  padding: $default-gap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $default-gap;
  grid-template-areas:
    'name image tag'
    'short-info image tag'
    'ingredients ingredients ingredients'
    'recipe recipe recipe'
    'reviews reviews reviews'
    'edit . save';
  .name {
    grid-area: name;
  }
  .image {
    grid-area: image;
  }
  .tag {
    grid-area: tag;
  }
  .short-info {
    grid-area: short-info;
  }
  .ingredients {
    grid-area: ingredients;
  }
  .recipe {
    grid-area: recipe;
  }
  .reviews {
    grid-area: reviews;
  }
  .save {
    grid-area: save;
    background-color: gray;
  }

  > *:hover {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
}
